@charset "UTF-8";

/* CSS Document */
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}


body {
	font-family:"Helvetica Neue", Helvetica, sans-serif;
	padding:0;
	background:#FFFFFF;
	height: 100%;
}

#container {
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	position: relative;
	min-height: 100%;
}

#header {
	margin-top: 15px;
	width:1000px;
	background: url(../images/logos/small.png) no-repeat;
	background-position: center center;
	height: 150px;
	position: relative;
}

.abouthead {
	margin-top: 40px;
	width:950px;
	background: url(../images/logos/medium.png) no-repeat;
	background-position: center left;
	height: 90px;
	position: relative;
}

.menu {
	position: relative;
	height:80px;
	width:100%;
	margin: 0 auto;
}

#main {
	overflow: auto;
	padding-bottom: 150px;
	width:100%;
}

#content {
	width:950px;
	background: url(../images/bg/contentbg.png) repeat;
	height:510px;
	position: relative;
	margin: 0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 3px #ddd;
	-moz-box-shadow: 5px 5px 15px #ddd;
	-webkit-box-shadow: 0px 0px 3px #ddd;
	margin-bottom: 100px;
}

.content {
	width:800px;
	margin: 0 auto;
	position: relative;
	line-height: 22px;
	font-size: 16px;
	font-weight: 200;
	color: #444;	
}

.registration_desc {
	text-align: center;
	font-size: 18px;	
	color: #838384;
	font-weight: 200;
}

.privacy {
	padding-bottom:150px;
	width:800px;
	margin: 0 auto;
	position: relative;
	line-height: 12px;
	font-size: 10px;
	font-weight: 200;
	color: #444;
}

#signin_logo {		
	background: url(../images/logos/small.png) no-repeat;
	background-position: center center;
	height: 65px;
	position: relative;
}

#login {	
	background: url(../images/bg/contentbg.png) repeat;
	height:150px;
	width:425px;
	position: relative;
	top:30px;
	left:65px;
	float: left;
	margin-bottom:10px;
	
}

#login_hover{
	height:50px;
	width:100%;
	/*background: -moz-linear-gradient(left, #FFFFFF 40%, #DDD 100%); /* firefox */
	/*background: -webkit-gradient(linear, left top, right top, color-stop(40%,#FFFFFF), color-stop(100%,#CCCCCC)); /* webkit */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#CCCCCC',GradientType=1 ); /* ie */
	position: relative;
	display: block;
	font-size: 12px;
	color:#666;
	text-align: right;
	text-transform: uppercase;
	font-weight: 200;
	line-height: 50px;
}

.login_fade{
	width: 100px;
	cursor: pointer;
	position: relative;
	height:50px;
	vertical-align: middle;
	margin-right: 30px;
}

#banner {
	border-style: solid;
	border-width: 1px;
	border-color: #dadada;
	top:40px;
	left:35px;
	position: relative;
	height: 380px;
	width: 426px;
	background: url(../images/bg/bannerbg.png) no-repeat;
	float: left;
	padding-top:40px;
}
#signin_leftcontent {
	background: url(../images/signup-graphics/home.png) no-repeat;	
	height: 250px;
	width: 426px;
}
#signin_banner {
	
	top:40px;
	left:35px;
	position: relative;
	height: 380px;
	width: 426px;

	float: left;
	padding-top:40px;
}
#blankbanner {
	
	top:40px;
	left:35px;
	position: relative;
	height: 100px;
	width: 426px;	
	float: left;
	padding-top:40px;
}


.aboutcontent{
	width:900px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	border-top: 1px solid #DDD;
	padding-bottom: 150px;
}

#register_submit{
	width:320px;
}
#registration {
	background: url(../images/bg/contentbg.png) repeat;
	
	height:450px;
	width:425px;
	position: relative;
	top:30px;
	left:65px;
	float: left;
}

#news {
	background: url(../images/bg/contentbg.png) repeat-x;
	height:350px;
	width:650px;
	position: relative;
	margin: 0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 3px #ddd;
	-moz-box-shadow: 5px 5px 15px #ddd;
	-webkit-box-shadow: 0px 0px 3px #ddd;
	padding-top: 30px;
	}

#twitter {
	position: relative;
	width: 505px;
	margin: 0 auto;
}


#footer {
	position: relative;
	height:150px;
	width:100%;
	bottom:0;
	background: url(../images/bg/footerbg.png) repeat;
}


.footercontent {
	position: relative;
	top:50px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 400;
	color: #d8d8d8;
}

.signin {
	width:200px;
	height:55px;
	display: block;
	background-image: url(../images/buttons/signin.png);
	background-position: top;
	
}

.signin:hover {
	width:200px;
	height:55px;
	display: block;
	background-image: url(../images/buttons/signin.png);
	background-position: bottom;
}

#register_submit{
	
	height:40px;
}


.signup {
	width:200px;
	height:55px;
	display: block;
	background-image: url(../images/buttons/signup.gif);
	background-position: top;
	-moz-border-radius: 8px;
	border-radius:6px;
	-webkit-border-radius: 6px;
	cursor: pointer;
	}

.signin_form {
	padding-top:20px;
	
	position: relative;
	
}

.signin_form fieldset{
	margin-bottom: 3px;
	padding-bottom:
	outline: 0;
	border: 0;
	width:300px;
}

.signin_form label{
	display: block;
	font-size: 12px;
	color:#0099ff;
	text-transform: uppercase;
	padding-bottom: 3px;
}

.signin_form input{
	height: 25px;
}



.registration_form{
	width:300px;
	height:300px;
	position: relative;
}

.registration_form fieldset{
	margin-bottom: 3px;
	padding-bottom:
	outline: 0;
	border: 0;
	width:300px;
}

.registration_form label{
	display: block;
	font-size: 12px;
	color:#0099ff;
	text-transform: uppercase;
	padding-bottom: 3px;
}


.registration_form input {
	width:300px;
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	line-height: 25px;
	height: 25px;
	font-size: 16px;
	padding: 8px;
	
}

.url_hint{
	font-size:18px;
	color:#CCC;
	height: 25px;
	line-height: 25px;
	position: relative;
	top:-44px;
	left:10px;
	margin-bottom: -25px;
	position: relative;
	width:120px;
}

input.username{
	padding-left:135px;
	width:180px;
}

/*Navs*/
ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
	
ul li {
	float: left;
	list-style: none;
}

.menu li a {
	font-size: 28px;
	font-weight: 600;
	color: #0099ff;
	font-style: normal;
	text-decoration: none;
}

.menu ul {
	width:500px;
	margin: 0 auto;
	position: relative;
}

.menu ul li {
	margin-right: 30px;
}

.home_link {
	width: 160px;
	height:30px;
	background: url(../images/home_link.png) no-repeat;
	cursor: pointer;
	display: block;
	margin-top: 20px;
	margin-left:30px;
}

.footernav li a {
	font-size: 12px;
	font-weight: 200;
	color: #b1b1b1;
	font-style: normal;
	text-decoration: none;
}

.footernav li a:hover {
	color: #555;
}
.footerleftnav {
	float:left;	
}
.footernav {
	
}

.footernav li {
	margin-right: 30px;
}


.aboutnav li a {
	font-size: 18px;
	font-weight: 200;
	color: #b1b1b1;
	font-style: normal;
	text-decoration: none;
}

.aboutnav li a:hover {
	color: #099fff;
}


.aboutnav li a:active {
	color: #099fff;
}

.aboutnav ul {
	width:400px;
	position: relative;
}

.aboutnav ul li {
	margin-right: 30px;
}

.aboutnav {
	width:900px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
	margin: 0 auto;
}


/*Other*/
h2{
	font-size:32px;
	color: #fff;
	margin-left: 20px;
	font-weight: 500;
}

h3{
	font-size: 22px;
	font-weight: 200;
	color: #8b8c8b;
	margin-left: 50px;
}

#banner p{
	color: #fff;
	font-size: 22px;
	font-weight: 100;
	margin-left: 100px;
	margin-right: 30px;
}

a {
	color: #0099ff;
}

a:hover {
	color: #63daff;
}

a:visted {
	color:666;
}

.indented ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width:900px;
	position: relative;
	margin: 0 auto;
}

.indented ul li {
	border-top:1px solid #333;
	border-bottom:1px solid #111;
	height:5px;
	display: block;
	}

.indented ul li:first-child {border-top: none;}
.indented ul li:last-child {border-bottom: none;}

hr {
	width:80%;
	height:2px;
	background-color: #ccc;
}

:focus {
	outline:none;
}
::-moz-focus-inner {
border:0;
}

.socialid{
	width:350px;
}
.socialid ul{
	width:350px;
}
.socialid ul li {
	display: block;
	float: left;
	height: 50px;	
	list-style-type: none;
	vertical-align: middle;
}
#user_next{
	background-image:url('images/extras/next.png');
	width:610px;
	height:32px;
	text-align:right;
}
